body {
    margin: 0;
    font-family: 'Public Sans', sans-serif;
    background-color: var(--bg-light);
}

.view-request-card {
    max-width: 950px;
    margin: 3rem auto;
    padding: 0 20px;
    min-height: 70vh;
}

.page-title {
    font-weight: 700;
    margin-bottom: 2rem;
    border-left: 6px solid var(--primary-teal);
    padding-left: 15px;
    padding-bottom: 5px;
    color: white;
}

.relief-card {
    background: var(--white);
    border-radius: 15px;
    padding: 25px;
    margin-bottom: 25px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.05);
    border: 3px solid rgba(91, 177, 162, 0.1);
    transition: transform 0.2s ease;
}
.card-header {
    background: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.relief-type {
    background: var(--primary-teal);
    color: white;
    padding: 4px 15px;
    border-radius: 20px;
    font-size: 0.85rem;
    font-weight: 600;
}

.status {
    padding: 4px 15px;
    border-radius: 20px;
    font-size: 0.85rem;
    background: #eee;
    font-weight: 600;
}

.status.high {
    background-color: var(--danger);
    color: white;
}
.status.medium {
    background-color: var(--warning);
    color: white;
}
.status.low {
    background-color: var(--success);
    color: white;
}

.card-body p {
    margin: 6px 0;
    font-size: 14px;
}

.card-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    padding-top: 20px;
    border-top: 1px solid rgba(0,0,0,0.05);
    width: 100%;
}

.btn-editr{
    width: 120px;
    height: 38px;
    padding: 0;          
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: var(--heading-font);
    background-color: var(--primary-teal);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-editr:hover {
    background-color: var(--dark-teal);
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(69, 138, 126, 0.4);
}

.btn-deleter {
    width: 120px;
    height: 38px;
    padding: 0;         
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: var(--heading-font);
    background-color: var(--danger);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-deleter:hover {
    background-color: #c0392b;
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(231, 76, 60, 0.4);
}

.custom-modal-width {
  max-width: 950px;
}

.modal-content {
  border-radius: 18px;
}

.hn-section-divider {
  color:#458a7e;
  font-family: var(--heading-font);
  font-weight: 700;
  font-size: 22px;
  border-bottom: 2px solid rgba(91, 177, 162, 0.1);
  padding-bottom: 5px;
  margin: 25px 0 15px 0;
}

.custom-header {
  background-color: #458a7e;
  color: white;
}

.section-title{
    color: #458a7e;
}

